@model SimplePointofSale.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Customer Details</h2>

<div>
    <h4>View customer information:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Invoices)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Invoice Number</th>
                    <th>Date</th>
                </tr>
                @foreach (var item in Model.Invoices)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.InvoiceID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InvoiceDate)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back to Customers", "Index")
</p>
